@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: Roboto, 'sans-serif';
}
.flex-display {
  display: flex;
}
.flex-col-and-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.centered {
  margin: 0 auto;
}
.muted-box {
  background-color: rgba(246, 246, 246, 0.1);
  border-radius: 10px;
  margin: 2rem;
  box-shadow: 10px 11px 28px -7px rgba(0, 0, 0, 0.16);
  padding: 2rem;
}
.section-header {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.container {
  width: 90%;
  flex-direction: column;
  color: #282828;
  margin: 0 auto;
  display: flex;
}
.container .header {
  justify-content: flex-end;
  display: flex;
}
.container .header nav {
  margin: 1.5rem;
}
.container .header nav .nav-list {
  flex-direction: row;
  display: flex;
}
.container .header nav .nav-list li {
  margin-right: 1rem;
  font-size: 1.5rem;
}
.container .main {
  width: 90%;
  margin: 0 auto;
}
.container .main .intro {
  background-color: rgba(246, 246, 246, 0.1);
  border-radius: 10px;
  margin: 2rem;
  box-shadow: 10px 11px 28px -7px rgba(0, 0, 0, 0.16);
  padding: 2rem;
}
.container .main .intro .tagline {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.container .main .intro .intro-text {
  font-size: 1rem;
}
.container .main .exp-and-skills {
  display: flex;
  justify-content: space-between;
}
.container .main .exp-and-skills .experience {
  background-color: rgba(246, 246, 246, 0.1);
  border-radius: 10px;
  margin: 2rem;
  box-shadow: 10px 11px 28px -7px rgba(0, 0, 0, 0.16);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
}
.container .main .exp-and-skills .experience h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.container .main .exp-and-skills .experience .exp-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .main .exp-and-skills .experience .exp-boxes .exp-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
}
.container .main .exp-and-skills .experience .exp-boxes .exp-card h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.container .main .exp-and-skills .experience .exp-boxes .exp-card ul {
  list-style-type: disc;
}
.container .main .exp-and-skills .skills {
  background-color: rgba(246, 246, 246, 0.1);
  border-radius: 10px;
  margin: 2rem;
  box-shadow: 10px 11px 28px -7px rgba(0, 0, 0, 0.16);
  padding: 2rem;
  width: 25%;
}
.container .main .exp-and-skills .skills h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.container .main .contact-info {
  background-color: rgba(246, 246, 246, 0.1);
  border-radius: 10px;
  margin: 2rem;
  box-shadow: 10px 11px 28px -7px rgba(0, 0, 0, 0.16);
  padding: 2rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.container .main footer {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
@media (max-width: 750px) {
  .container .header {
    justify-content: center;
  }
  .container .main .exp-and-skills {
    flex-direction: column;
  }
  .container .main .exp-and-skills .experience {
    width: 100%;
  }
  .container .main .exp-and-skills .skills {
    width: 100%;
  }
}
